.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
webview/**/node_modules/**
webview/**/src/**
webview/**/*.ts
webview/**/*.vue
.codeartsdoer/**
pnpm-lock.yaml
qtide.code-workspace

